<!--The content below is only a placeholder and can be replaced.-->
<input type="text" [(ngModule)]="title" name="title" placeholder="Firstname">
<input type="text" [(ngModule)]="title" name="title" placeholder="Lastname">
<input type="text" [(ngModule)]="title" name="title" placeholder="email">
<input type="text" [(ngModule)]="title" name="title" placeholder="Phone">
<input type="text" [(ngModule)]="title" name="title" placeholder="Mobile">
<input type="text" [(ngModule)]="title" name="title" placeholder="Address">
<input type="submit" value="Add Contact" (click)="addPost()">

<ul *ngFor="Let post of posts | async">
  <li>
    <strong>{{ post.Address }}</strong>
    <br>
    {{ post.mobile }}
  </li>
</ul>
